<!DOCTYPE html>
<html>
<script src="APIs/jquery-2.1.4.min.js"></script>
<head lang="en">
    <meta charset="UTF-8">
    <title>Team Setup</title>

    <link rel="stylesheet" href="APIs/jquery-ui-1.11.4.custom/jquery-ui.min.css">
    <script src="APIs/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
    <script src="APIs/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="scripts/teamSetupJS.js"></script>
    <link rel="stylesheet" href="style/css.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="scripts/algorithm.js"></script>
    <script src="scripts/shuffling.js"></script>
    <script src="views/tests.js"></script>
</head>
<p hidden="true" id="jsondat"><%-JSON.stringify(subjects);%></p>
<script>$(document).ready(function(e){
    //array van subject objects
    var subjects = JSON.parse($('#jsondat').text());


});</script>
<body>
<nav class="navbar navbar-default">

    <div class="container-fluid">
        <div class=" navbar-form navbar-right" id="righty">

            <a id="logOutBtn" href=""><button class="btn btn-default">Log Out</button> </a>
        </div>
        <div class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">My Projects</a></li>

        </div>
    </div>
</nav>
<div class="subjectBox panel panel-default" style="margin: 0;">
    <div class="panel-heading" data-toggle="collapse" data-target="#subjectSetup">Subject setup</div>
    <div class="panel-body collapse" id="subjectSetup">
        <table class="table" id="subjTable">
            <thead><tr id="subjectFields">

            </tr></thead>
            <tbody id="subjectsTable">

            </tbody>
        </table>
        <button class="btn btn-default">Save</button>
        <button class="btn btn-default">Reload</button>
        <button id="exportMasterTable" class="btn btn-default">Export CSV</button>
    </div>
</div>
<div class="algorithmBox panel panel-default" style="margin: 0;">
    <div class="panel-heading" data-toggle="collapse" data-target="#shuffleSetup">Shuffle setup </div>
    <div class="panel-body collapse container-fluid" id="shuffleSetup">
    <div class="row" id="shuffleRow">
    <div><button type='button' id='addAlg'><span aria-hidden='true'>+</span> </button></div>
    </div>
    </div>
</div>

<div style="height: 100px;">
    <div style="text-align: left; margin:5px; position: absolute;" id="selectFields">Show fields: <br></div>

    <div style="text-align: right; float: right; margin:20px;  ">Max per group:<input id="maxPerGroup" type="number" min="0"/>Number of groups:<input id="totalTeams" type="number" min="0"/><br><br></div>
</div>
<div class="container">
    <button style="width: 100px; float:left;" class="form-control" id="shuffle">Shuffle</button>
    <button style="width: 125px; float:left;" class="form-control" id="exportGroups">Download CSV</button>
</div>
    <div class="main">

            <div class="members">
                <p style="font-size: large">Subject Pool</p>

                <div id="subjects" class="names">
                    <!--<%for(var i = 0; i < subjects.length; i++){%>
                    <div class="subject" id=<%= subjects[i].id %> draggable="true" ondragstart="drag(event)"><%=subjects[i].name%>
                    </div> <% } %> -->
                </div>
                <br><br><br>


            </div>


            <div class="teams">
                <p style="font-size: large; text-align: center">Sandbox</p>
                <!-- This is how the team boxes will look like -->
                <!-- <div class="teamTables 1" ondrop="drop(event)" ondragover="allowDrop(event)"><img src="images/minus_button.png" class="minusButton mB1" alt="plus" height="25" width="25"><img src="images/left_arrow.png" class="leftArrow lA1" alt="move back" height="25" width="25"></div> -->
                <div class="teamAdd" id="teamAdd" ondrop="drop(event)"><img src="images/plus_button.png" id="plusButton" alt="plus" height="42" width="42"></div>
            </div>

    </div>


    <br>
    <div id="dialog-confirm"></div>

</body>

<script>
</script>
</html>